<div class='home'>
  <h2>Welcome to Spotify Search!</h2>
  <form action='/artist-search' method='GET'>
    <input name='artist' />
    <button type='request'>Search</button>
  </form>
  <img src='images/spotify-background.jpeg' id='image' />
</div>